@use '../../style/color' as color;

.CheckBoxWrapper {
  outline: none;
  border: none;
  padding: 0.09375rem;
  width: fit-content;
  height: fit-content;
}

.CheckBox {
  border-radius: 0.125rem;
  border-style: solid;
  border-width: 0.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1/1;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--Checked {
    border-color: color.$color-primary-car;
    background-color: color.$color-primary-car;
  }
  &--UnChecked {
    border-color: color.$color-gray-60;
    background-color: transparent;
  }
}

.CheckIcon {
  &--Checked {
    width: 100% !important;
    aspect-ratio: 1/1 !important;
    color: color.$color-common-0 !important;
  }
  &---UnChecked {
    width: 100% !important;
    aspect-ratio: 1/1 !important;
    color: color.$color-gray-60 !important;
  }
}
