@use '../../../style/color' as color;

.Layout {
  &--half,
  &--full {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    height: 1.5rem;
    color: color.$color-gray-60;
  }

  &--half {
    width: 0.75rem;
  }

  &--full {
    width: 1.5rem;
  }
}
