@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  // NOTE: 사용 시, 프로젝트에 맞게 아래 경로를 변경해야 합니다.
  src: url('/font/Pretendard-Light.woff2') format('woff2'), url('/font/Pretendard-Light.woff') format('woff'), url('/font/Pretendard-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  // NOTE: 사용 시, 프로젝트에 맞게 아래 경로를 변경해야 합니다.
  src: url('/font/Pretendard-Regular.woff2') format('woff2'), url('/font/Pretendard-Regular.woff') format('woff'), url('/font/Pretendard-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  // NOTE: 사용 시, 프로젝트에 맞게 아래 경로를 변경해야 합니다.
  src: url('/font/Pretendard-SemiBold.woff2') format('woff2'), url('/font/Pretendard-SemiBold.woff') format('woff'), url('/font/Pretendard-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  // NOTE: 사용 시, 프로젝트에 맞게 아래 경로를 변경해야 합니다.
  src: url('/font/Pretendard-Bold.woff2') format('woff2'), url('/font/Pretendard-Bold.woff') format('woff'), url('/font/Pretendard-Bold.ttf') format('truetype');
}

@mixin typography($font-size, $weight, $letter-spacing) {
  margin: 0;
  padding: 0;
  font-family: Pretendard;
  font-style: normal;
  font-size: $font-size;
  font-weight: $weight;
  line-height: 140%;
  letter-spacing: $letter-spacing;
}

@mixin typography-h1-b {
  @include typography(2.5rem, 700, -0.05em);
}
@mixin typography-h1 {
  @include typography(2.5rem, 400, -0.05em);
}
@mixin typography-h2-b {
  @include typography(2rem, 700, -0.04em);
}
@mixin typography-h2 {
  @include typography(2rem, 400, -0.04em);
}
@mixin typography-h3-b {
  @include typography(1.5rem, 700, -0.03em);
}
@mixin typography-h3 {
  @include typography(1.5rem, 400, -0.03em);
}
@mixin typography-h4-b {
  @include typography(1.25rem, 700, -0.025em);
}
@mixin typography-h4 {
  @include typography(1.25rem, 400, -0.025em);
}
@mixin typography-h5-b {
  @include typography(1.125rem, 700, -0.0225em);
}
@mixin typography-h5 {
  @include typography(1.125rem, 400, -0.0225em);
}
@mixin typography-h6-b {
  @include typography(1rem, 700, -0.02em);
}
@mixin typography-p1-b {
  @include typography(1rem, 700, -0.02em);
}
@mixin typography-p1-sb {
  @include typography(1rem, 600, -0.02em);
}
@mixin typography-p1 {
  @include typography(1rem, 400, -0.02em);
}
@mixin typography-p2-b {
  @include typography(0.875rem, 700, -0.0175em);
}
@mixin typography-p2-sb {
  @include typography(0.875rem, 600, -0.0175em);
}
@mixin typography-p2 {
  @include typography(0.875rem, 400, -0.0175em);
}
@mixin typography-p3-b {
  @include typography(0.75rem, 700, -0.015em);
}
@mixin typography-p3-sb {
  @include typography(0.75rem, 600, -0.015em);
}
@mixin typography-p3 {
  @include typography(0.75rem, 400, -0.015em);
}
@mixin typography-caption-b {
  @include typography(0.625rem, 700, -0.0125em);
}
@mixin typography-caption-sb {
  @include typography(0.625rem, 600, -0.0125em);
}
@mixin typography-caption {
  @include typography(0.625rem, 400, -0.0125em);
}
