$spacing-xxxs: var(--spacing-xxxs);
$spacing-xxs: var(--spacing-xxs);
$spacing-xs: var(--spacing-xs);
$spacing-s: var(--spacing-s);
$spacing-m: var(--spacing-m);
$spacing-l: var(--spacing-l);
$spacing-xl: var(--spacing-xl);
$spacing-xxl: var(--spacing-xxl);
$spacing-xxxl: var(--spacing-xxxl);
$spacing-xxxxl: var(--spacing-xxxxl);
