@use '../../../style/color' as color;

.Check {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  color: color.$color-gray-60;
}
